.wrapper {
    position: relative;
    border: 1px solid var(--ash);
    border-radius: 6px;
    box-sizing: border-box;
    align-items: center;
    display: flex;
    padding: 5px 10px;
    gap: 4px;
    cursor: text;
}

.wrapper:focus-within {
    outline: none;
    border: 1px solid var(--sapphire);
}

.wrapper.error {
    border-color: var(--brick);
}

.input {
    border: none;
    flex-grow: 1;
    background-color: var(--white);
    user-select: none;
}

.input:focus {
    outline: none
}

.clearButton {
    cursor: pointer;
}

.dropdownIcon {
    transition: transform 0.3s ease;
}

.dropdownIconActive {
    transform: rotate(180deg);
}
